fastapi==0.115.4
openai
passlib==1.7.4
pydantic==2.9.2
python-dotenv==1.0.1
python_jose==3.3.0
SQLAlchemy==2.0.36
alembic==1.13.3
uvicorn==0.27.1
psycopg2-binary
asyncpg
pydantic[email]
opentelemetry-api==1.29.0
opentelemetry-sdk==1.29.0
azure-monitor-opentelemetry==1.6.4
opentelemetry-instrumentation-fastapi